#!/bin/sh
. /usr/share/debconf/confmodule
db_version 2.0 || [ $? -lt 30 ]

if [ "$1" = "configure" ]; then

	db_input medium zabbix-frontend-php/database-type || true
	db_go || true

	db_input medium zabbix-frontend-php/database-server || true
	db_go || true

	db_input medium zabbix-frontend-php/database-name || true
	db_go || true

	db_input medium zabbix-frontend-php/database-user || true
	db_go || true
    
	db_input medium zabbix-frontend-php/database-password || true
	db_go || true
	
	db_input medium zabbix-frontend-php/reconfigure-webserver || true
	db_go || true

	db_input medium zabbix-frontend-php/restart-webserver || true
	db_go || true

fi

#DEBHELPER#

exit 0
