#!/bin/sh

CONFFILE="/etc/zabbix/db.inc.php"

. /usr/share/debconf/confmodule
db_version 2.0 || [ $? -lt 30 ]

# Autoconfiguration for zabbix-frontend-php
if [ ! -f $CONFFILE ] || [ `md5sum $CONFFILE | awk '{print $1}'` = "f4455c45e07df14c498ce4889dfc4e62" ]; then

	db_input medium shared/zabbix/database-type || true
	db_go || true

	db_input medium shared/zabbix/database-server || true
	db_go || true

	db_input medium shared/zabbix/database-name || true
	db_go || true

	db_input medium shared/zabbix/database-user || true
	db_go || true
    
	db_input medium shared/zabbix/database-password || true
	db_go || true

fi

#DEBHELPER#

exit 0
