#!/bin/sh

CONFFILE="/etc/zabbix/zabbix_server.conf"

. /usr/share/debconf/confmodule
db_version 2.0 || [ $? -lt 30 ]

# Autoconfiguration for zabbix-server-mysql
if [ ! -f $CONFFILE ] || [ `md5sum $CONFFILE | awk '{print $1}'` = "5e4a09a51d8077d1be64434401abd64f" ]; then

	db_input medium shared/zabbix/database-server || true
	db_go || true

	db_input medium shared/zabbix/database-name || true
	db_go || true

	db_input medium shared/zabbix/database-user || true
	db_go || true
    
	db_input medium shared/zabbix/database-password || true
	db_go || true

fi

#DEBHELPER#

exit 0
