#!/bin/sh

CONFFILE1="/etc/zabbix/zabbix_agentd.conf"
CONFFILE2="/etc/zabbix/zabbix_agent.conf"

. /usr/share/debconf/confmodule
db_version 2.0 || [ $? -lt 30 ]

# Autoconfiguration for zabbix-agent
if [ ! -f $CONFFILE1 ] || [ `md5sum $CONFFILE1 | awk '{print $1}'` = "39cb77813663a807ee95195ef42d30e7" ]; then

	db_input medium zabbix-agent/server || true
	db_go || true

fi

#DEBHELPER#

exit 0
